<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goBack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{283,77},{40,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{44,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,203},{44,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{375,79},{40,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,35},{38,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{95,35},{38,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBack6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{38,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{187,37},{38,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBack7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{38,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{283,37},{38,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBack8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{40,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{469,79},{40,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBackLeft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{40,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{563,79},{40,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBackLeft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{40,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{661,79},{40,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBackLeft3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{759,79},{40,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBackLeft4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{38,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{377,39},{38,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBackLeft5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{377,1},{36,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBackLeft6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{42,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{765,121},{42,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBackLeft7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{46,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{953,1},{46,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goBackLeft8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{42,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{857,121},{42,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBackRight1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{40,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{855,79},{40,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBackRight2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{40,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{97,117},{40,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBackRight3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{40,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,115},{40,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBackRight4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{38,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{473,39},{38,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBackRight5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{36,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{469,1},{36,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBackRight6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{42,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,157},{42,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBackRight7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{46,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{953,91},{46,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goBackRight8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{42,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{93,159},{42,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFront1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{97,205},{44,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFront2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{46,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{669,207},{46,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFront3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{44,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{287,207},{44,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFront4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{42,98}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{187,161},{42,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFront5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{195,119},{40,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFront6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{287,163},{42,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFront7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{46,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{863,215},{46,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFront8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{46,98}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{95,251},{46,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFrontLeft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{38,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{569,39},{38,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFrontLeft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{44,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{383,207},{44,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFrontLeft3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{471,253},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFrontLeft4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{46,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,249},{46,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFrontLeft5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{40,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{291,121},{40,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFrontLeft6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{36,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{561,1},{36,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFrontLeft7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{38,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{667,39},{38,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFrontLeft8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{36,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{657,1},{36,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFrontRight1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{38,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{761,39},{38,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFrontRight2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{44,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{479,207},{44,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFrontRight3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{563,253},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFrontRight4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{287,253},{46,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFrontRight5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{385,121},{40,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFrontRight6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{755,1},{36,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFrontRight7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{859,39},{38,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goFrontRight8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{36,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{851,1},{36,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goLeft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{32,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goLeft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{42,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{383,163},{42,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goLeft3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{52,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{655,255},{52,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goLeft4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{959,181},{46,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goLeft5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{34,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{193,1},{34,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goLeft6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{40,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{97,75},{40,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goLeft7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{863,165},{48,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goLeft8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{193,205},{44,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goRight1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{32,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{97,1},{32,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goRight2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{42,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{477,163},{42,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goRight3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{52,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{747,255},{52,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goRight4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{195,251},{46,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goRight5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{34,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{285,1},{34,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goRight6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{40,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{479,121},{40,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goRight7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{381,253},{48,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goRight8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{44,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{575,207},{44,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{571,163},{42,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopBackLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{40,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{569,121},{40,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopBackRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{40,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{667,121},{40,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopFront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{44,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{765,209},{44,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopFrontLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{42,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{667,163},{42,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopFrontRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{42,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{765,165},{42,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{38,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,75},{38,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{38,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{187,77},{38,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spriteArchBishop.png</string>
            <key>size</key>
            <string>{1006,308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1a8e7e46f4a127d11562182584ec0e2:d4fa3d2c2a556ce87f78e283224ddfd8:366169ebd5a1987ce9d4e2e1775d2f44$</string>
            <key>textureFileName</key>
            <string>spriteArchBishop.png</string>
        </dict>
    </dict>
</plist>
