<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moveSpright10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,1065},{40,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{38,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,219},{38,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{44,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{197,99},{44,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{189,939},{50,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{193,567},{46,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{95,803},{40,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{97,597},{36,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{95,887},{38,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{36,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,259},{36,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{44,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{197,195},{44,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,805},{40,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,889},{38,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,1121},{38,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{38,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{97,477},{38,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{38,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{95,927},{38,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{40,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{95,845},{40,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{197,291},{44,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{46,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,297},{46,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{44,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,345},{44,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{42,98}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{101,1},{42,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,435},{40,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,391},{42,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{46,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{97,297},{46,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{46,98}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{32,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{97,635},{32,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{42,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{95,715},{42,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{52,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{189,755},{52,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,969},{46,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{34,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{117,1121},{34,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{40,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{91,1213},{40,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{193,387},{48,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{97,669},{44,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{40,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{201,1},{40,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{40,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,93},{40,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{40,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{97,435},{40,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{38,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{97,517},{38,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{36,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{41,1121},{36,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{42,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{93,1019},{42,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{46,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{185,1031},{46,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{42,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,717},{42,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{38,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{99,219},{38,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{44,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{97,345},{44,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{95,967},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{46,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{193,661},{46,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{40,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,847},{40,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{36,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,599},{36,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{38,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,929},{38,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{36,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{99,259},{36,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{32,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,637},{32,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{42,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{95,759},{42,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{52,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{189,847},{52,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,1017},{46,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{34,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{181,1163},{34,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{40,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{153,1121},{40,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{193,477},{48,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{44,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,671},{44,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{40,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,135},{40,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{40,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{99,135},{40,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,477},{40,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{38,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,519},{38,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{79,1121},{36,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveSpright95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{42,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{93,1063},{42,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{46,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,1213},{46,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moveSpright97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{42,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,761},{42,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopSprite0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{42,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,49},{42,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopSprite1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{97,391},{42,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopSprite2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{44,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{101,45},{44,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopSprite4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{38,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{97,557},{38,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopSprite5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{40,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,177},{40,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopSprite6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{42,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{99,91},{42,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopSprite8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{38,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,559},{38,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopSprite9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{40,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{99,177},{40,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spriteArchBishop.png</string>
            <key>size</key>
            <string>{242,1260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0c6eaf93d04008f9116be0c9abfd565:c9d8916e5879cba82e1f27ea7e436b31:366169ebd5a1987ce9d4e2e1775d2f44$</string>
            <key>textureFileName</key>
            <string>spriteArchBishop.png</string>
        </dict>
    </dict>
</plist>
